<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Daftar Anggota</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<h1>My Perpustakaan</h1>

		<div class="sidebar">
			<ul>
				<li><a href="pinjam_data.html">Peminjaman</a></li>
				<li><a href="Kembali_data.html">Penegembalian</a></li>
				<li><a href="kategori_data.html">Data kategori</a></li>
				<li><a href="buku_data.html">Data Buku</a></li>
				<li><a class="active" href="anggota_data.html">Data Anggota</a></li>
				<li><a href="#" onclick="return confrim('anda yakin akan keluar?')">Logout</a></li>
			</ul>
		</div>

		<div class="content">
			<h1>Daftar Anggota</h1>
			<div class="btn-tambah-div">
				<a href="anggota_form.html"><button class="btn btn-tambah">Tambah Data</button></a>
			</div>
			<table class="data">
				<tr>
					<th height="10%">Nama</th>
					<th height="10%">Alamat</th>
					<th height="10%">JK</th>
					<th height="10%">Telp</th>
					<th width="20%" height="10%">Pilihan</th>
				</tr>

				<tr>
					<td>Jarjit Singh</td>
					<td>Kl. Timoho 67</td>
					<td>Laki-laki</td>
					<td>0896577387829</td>
					<td>
						<a href="anggota_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>Jarjit Singh</td>
					<td>Kl. Timoho 67</td>
					<td>Laki-laki</td>
					<td>0896577387829</td>
					<td>
						<a href="anggota_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>Jarjit Singh</td>
					<td>Kl. Timoho 67</td>
					<td>Laki-laki</td>
					<td>0896577387829</td>
					<td>
						<a href="anggota_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>Jarjit Singh</td>
					<td>Kl. Timoho 67</td>
					<td>Laki-laki</td>
					<td>0896577387829</td>
					<td>
						<a href="anggota_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>Jarjit Singh</td>
					<td>Kl. Timoho 67</td>
					<td>Laki-laki</td>
					<td>0896577387829</td>
					<td>
						<a href="anggota_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

			</table>
		</div>

	</div>
</body>
</html>