<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Daftar Buku</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container clearfix">
		<h1>My Perpustakaan</h1>

		<div class="sidebar">
			<ul>
				<li><a href="pinjam_data.html">Peminjaman</a></li>
				<li><a href="Kembali_data.html">Penegembalian</a></li>
				<li><a href="kategori_data.html">Data kategori</a></li>
				<li><a class="active" href="buku_data.html">Data Buku</a></li>
				<li><a href="anggota_data.html">Data Anggota</a></li>
				<li><a href="#" onclick="return confrim('anda yakin akan keluar?')">Logout</a></li>
			</ul>
		</div>

		<div class="content">
			<h3>Daftar Buku</h3>
			<div class="btn-tambah-div">
				<a href="buku_form.html"><button class="btn btn-tambah">Tambah Data</button></a>
			</div>
			<table class="data">
				<tr>
					<th>Judul</th>
					<th>Kategori</th>
					<th>Deskripsi</th>
					<th>Jumlah</th>
					<th>Cover</th>
					<th width="20%">Pilihan</th>
				</tr>

				<tr>
					<td>HTML & CSS</td>
					<td>Komputer</td>
					<td>Belajar HTML</td>
					<td>6</td>
					<td><img src="#"></td>
					<td>
						<a href="buku_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>HTML & CSS</td>
					<td>Komputer</td>
					<td>Belajar HTML</td>
					<td>6</td>
					<td><img src="#"></td>
					<td>
						<a href="buku_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>HTML & CSS</td>
					<td>Komputer</td>
					<td>Belajar HTML</td>
					<td>6</td>
					<td><img src="#"></td>
					<td>
						<a href="buku_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>HTML & CSS</td>
					<td>Komputer</td>
					<td>Belajar HTML</td>
					<td>6</td>
					<td><img src="#"></td>
					<td>
						<a href="buku_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>HTML & CSS</td>
					<td>Komputer</td>
					<td>Belajar HTML</td>
					<td>6</td>
					<td><img src="#"></td>
					<td>
						<a href="buku_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>HTML & CSS</td>
					<td>Komputer</td>
					<td>Belajar HTML</td>
					<td>6</td>
					<td><img src="#"></td>
					<td>
						<a href="buku_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>

				<tr>
					<td>HTML & CSS</td>
					<td>Komputer</td>
					<td>Belajar HTML</td>
					<td>6</td>
					<td><img src="#"></td>
					<td>
						<a href="buku_form.html" class="btn btn-edit">Edit</a>
						<a href="#" class="btn btn-hapus">Hapus</a>
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>