body{
    background:#42775A;
}
.navbar{
    text-align: right;
    padding: 2px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;;
}
h1{
    font-size: 50;
}
.login{
    margin-top: 10%;
    margin-right: 35%;
    margin-bottom: 5%;
    margin-left: 35%;
}
.container{
    background-color: #42775A;
}
.search {
    width: 300px;
    height: 50px;
}
/* Search 1 - bg change*/
.demo-1{
  width: 400px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.demo-1 input#search{
  width: 400px;
  height: 50px;
  background: rgba(0,0,0,0.3);
  border: none;
  font-size: 10pt;
  float: left;
    color: #CCCCCC;
  padding-left: 45px;
  
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.demo-1 input#search::-webkit-input-placeholder {
   color: #FFFFFF;
}
.demo-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #FFFFFF;  
}
.demo-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF;  
}
.demo-1 input#search:-ms-input-placeholder {  
   color: #FFFFFF;  
}

.demo-1 .icon{
  position: absolute;
  top: -4%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

  /* ANIMATION EFFECTS SEARCH ENGINE */
  .demo-1 input#search:focus, .demo-1 input#search:active{
    outline:none;
    background: #2b303b;
  }